<article>
	{{#each doc.content}}
	{{#if text}}
	<p>{{{text}}}</p>
	{{/if}}
	{{#if dropdown}}
	<select class='figure__dropdown'></select>
	{{/if}}
	{{#if graphic}}
	<figure class='figure__{{graphic}}' data-type={{type}}>
		<p class="figure__overline is-visible"><button class='btn'>Enable Audio</button></p>
		<div class='figure__inner'>
			<button class='btn figure__restart' data-type={{{type}}}>Play <img inline src='play.svg'></button>
			{{#ifEquals type 'all'}}
			<button class='btn figure__correct'>Play Correct</button>
			{{/ifEquals}}
			{{#ifEquals type 'live'}}
			<button class='btn figure__closest'>Jump to Closest</button>
			{{/ifEquals}}
		</div>
	</figure>
	<div class='figure__stop' data-type={{type}}></div>
	{{/if}}

	{{#if odds }}
	{{> story/odds }}
	{{/if}}
	{{#if youtube}}
	{{> story/youtube }}
	{{/if}}
	{{#if hamlet}}
	{{> story/hamlet }}
	{{/if}}
	{{#if clock}}
	{{> story/clock }}
	{{/if}}
	{{#if results}}
	{{> story/results }}
	{{/if}}


	{{/each}}
</article>